Qt resources/*
BMS - PyQT.py
.vscode/*
Init.env
My_Icon_Resized.jpeg
My_Icon_Resized_Pro.jpeg
AdminTools/*
Bills/*
exec/*
build/*
setup.py
.gitignore
My_Icon_Resized.jpg
My_Icon_Resized_Pro.jpg
BMS Backup.sql
test/*
__pycache__/*
test.ipynb
Resources/icofi.ico
Resources/lgfi.jpeg
testt.py
Barcodes/*
Barcode.py
Batch1.pdf
labels.pdf
MRP_Labels.pdf
queryFormat.py
queryFormat_custom.py
utils.py
BillingManagementSystem_Temp.py
auto.py